<!-- <div class="row">

    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>


</div> -->








   <!------------------------------------------------------------------------------------->

<!-- 
<div class="container">

<div class="row">

    <div class="column-2 px-2 mb-r">
  
      <div class="card default-color-dark">
  
        <div class="view overlay zoom">
          <img src="../../assets/img/3.jpg" class="card-img-top img-fluid" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <div class="card-body text-center">
          <h4 class="card-title white-text">Title of the news</h4>
          <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas.</p>
          <a href="#" class="btn btn-outline-white btn-md">Button</a>
        </div>
  
      </div>
  
    </div>
 
  
    
    <div class="column-1 px-2 mb-r">
  
      <div class="card primary-color-dark">
  
        <div class="view overlay zoom">
          <img src="..//../assets/img/3.jpg" class="card-img-top img-fluid" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <div class="card-body text-center">
          <h4 class="card-title white-text">Title of the news</h4>
          <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas.</p>
          <a href="#" class="btn btn-outline-white btn-md">Button</a>
        </div>
  
      </div>
  
    </div>
  
    <div class="column-1 px-2">
  
      <div class="card warning-color-dark">
  
        <div class="view overlay zoom">
          <img src="../../assets/img/3.jpg" class="card-img-top img-fluid" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <div class="card-body text-center">
          <h4 class="card-title white-text">Title of the news</h4>
          <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas.</p>
          <a href="#" class="btn btn-outline-white btn-md">Button</a>
        </div>
  
      </div>
  
    </div>
  
  </div>


</div>



  <br> -->


  
   <!------------------------------------------------------------------------------------->





   <div class="row no-gutters position-relative bgb3b3ff">
    <div class="col-md-6 mb-md-0 p-md-4 wow fadeInLeft" data-wow-delay="2s">
      <img class="w-100" src="../../../../../assets/img/football-sport-stadium-isometric-composition_1284-23825.jpg" alt="image">
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0 wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
      <h2 class="mt-0">
        Automate your bookings
      </h2>
      <h3>How we can help you</h3>
      <p>       
        Reduce telephone calls<br>
        Use Playground online booking system to reduce administrative telephone calls by up to 99%.<br>
        Increase your bookings<br>
        Increase your bookings and revenue by utilising Playground booking engine - see increases by an average of 10%.<br>
        We're thinking about your business as much as you are. <br>
        

        <!-- Motivating youth to play football. <br>
        Investing free time for young people to come back. <br>
        Providing the capabilities necessary to create the appropriate climate. <br>
        Bringing a spirit of competition among young people. <br>
        Providing youth playgrounds with symbolic amounts. <br>
        Promoting social cohesion.<br> -->
      </p>
      <a href="#" class="stretched-link" style="font-weight: bolder;">Playground</a>
    </div>
  </div>