<div class="row">
    <div class="col-8 offset-2">
        <h3 class="text-center font-weight-bold">Owner Login</h3>
        <form [formGroup]="loginform" (ngSubmit)="savaFormData(loginform.value)">

            <!-- // E-Mail //  -->
            <div class="form-group">

                <label for="email" class="font-weight-bold">E-Mail</label>
                <input type="text" class="form-control" formControlName="email" placeholder="E-Mail" email>
                <span *ngIf="email.touched && email.errors?.required"> this field is required </span>
                <span *ngIf="email.errors?.email">this field must be email </span>

            </div>

            <!-- // password //  -->
            <div class="form-group">
                <label for="password" class="font-weight-bold">Password </label>
                <input type="password" class="form-control" formControlName="password" placeholder="password">
                <span *ngIf="password.touched && password.errors?.required"> this field is required </span>
                <span *ngIf="password.errors?.rangeLength"> rangeLength must be 5 : 9 </span>
            </div>

            <input type="submit" value="login" class="btn btn-outline-success btn-lg ">
            <!-- Rgisiter Button -->
            <div class="text-center">
                <a href="" class="btn btn-default btn-rounded my-3 p-3" routerLink="/ownerRegister"
                        style="width: 30%;"><i class="fas fa-user-plus mr-1"></i>Rgisiter</a>
            </div>
        </form>
            
      
    </div>
</div>