<div class="row">
    <div class="col-8 offset-2">
        <h3 class="text-center">Owner Login</h3>
        <form [formGroup]="loginform">

            <!-- // User Name //  -->
            <div class="form-group">
                <label for="phone">User Name</label>
                <input type="text" class="form-control" formControlName="username" placeholder="User Name">
                <span *ngIf="username.touched && username.errors?.required"> this is required </span>
            </div>

            <!-- // password //  -->

            <div class="form-group">
                <label for="password">password </label>
                <input type="text" class="form-control" formControlName="password" placeholder="password" digits>
                <span *ngIf="password.touched && password.errors?.required"> this is required </span>
            </div>

            <input type="submit" value="login" class="btn btn-primary ">

        </form>

    </div>
</div>