
    <app-slide-show></app-slide-show>
    <!-- <app-slider></app-slider> -->

<div class="container">
    <hr>
    <br>

    <!-- <div class="row">
        <div class="col-6">
            <app-register-button></app-register-button>
        </div>
        <div class="col-6">
            <app-register-button-user></app-register-button-user>
        </div>
    </div>

    <br> -->

    <app-cards0></app-cards0>

    <hr>
    <app-cards1></app-cards1>

    <hr>
    <app-accordion></app-accordion>
    <hr>
    <app-images></app-images>
    <hr>

    <app-contact-us></app-contact-us>

    <hr>

</div>
