<div class="text-center">
    <button type="button" class="btn blue-gradient btn-rounded" data-toggle="modal" data-target="#modalRegular">
      Player</button>
  </div>

<!-- ************************************************************************************************************* -->
  
  <!--Modal: Name-->
  <div class="modal fade" id="modalRegular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
  
      <!--Content-->
      <div class="modal-content">
  
        <!--Body-->
        <div class="modal-body">
  
          <!--Google map-->
          <div id="" class="z-depth-1-half" style="height: 700px">

            
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link active" routerLink="/PlayerLogin">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/PlayerSignup">Signup</a>
                </li>
            </ul>

            <router-outlet>

            </router-outlet>


            <!-- ------------------------------------------------------------------- -->
                <!-- <form class="text-center border border-light p-5" action="#!">

                    <p class="h4 mb-4">Sign in</p>

                    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                    <div class="d-flex justify-content-around">
                        <div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                        <div>
                            <a href="">Forgot password?</a>
                        </div>
                    </div>

                    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                    <p>Not a member?
                        <a href="">Register</a>
                    </p>

                    <p>or sign in with:</p>

                    <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
                    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

                </form> -->
                <!-- Default form login -->
        <!-- ------------------------------------------------------------------- -->

          </div>
  
        </div>
  
        <!--Footer-->
        <div class="modal-footer justify-content-center">
  
          <button type="button" class="btn btn-outline-info btn-md" data-dismiss="modal">Close <i class="fas fa-times ml-1"></i></button>
  
        </div>
  
      </div>
      <!--/.Content-->
  
    </div>
  </div>
  <!--Modal: Name-->
