<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-center font-weight-bold">Confirm Password</h3>
            <form [formGroup]="confirmForm" (ngSubmit)="confirm()">
    
                <!-- // New password //  -->
                <div class="form-group">
                    <label for="newPassword" class="font-weight-bold">New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password">
                    <span id="error" *ngIf="newPassword.touched && newPassword.errors?.required"> this field is required
                    </span>
                </div>
    
                <!-- // Confirm Password //  -->
                <div class="form-group">
                    <label for="confirmPassword" class="font-weight-bold">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword"
                        placeholder="Confirm Password">
                    <span id="error" *ngIf="confirmPassword.touched && confirmPassword.errors?.required"> this field is
                        required </span>
                    <span id="error" *ngIf="compare">Password does not match</span>
                </div>
    
                <input type="submit" value="Confirm" class="btn btn-success btn-lg" [disabled]="compare == true">
    
            </form>
    
    
        </div>
    </div>
</div>