<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-6 mt-5 mb-3" style="border:5px solid #d3d1e0;
        background-color: rgb(255, 255, 255);margin: auto; ">

            <!-- <h3 class="text-center font-weight-bold">Confirm Password</h3> -->
            <legend class="well-legend mt-3">Confirm Password</legend>

            <br>

            <form [formGroup]="confirmForm" (ngSubmit)="confirm()">
                <div>
                    <input id="user" type="radio" value="user" formControlName="type">
                    <label for="user">User</label>
                </div>
                <div>
                    <input id="owner" type="radio" value="owner" formControlName="type">
                    <label for="owner">Owner</label>
                </div>
                <div class="md-form">
                    <label for="verificationCode" class="font-weight-bold">verification Code</label>
                    <input type="text" class="form-control" formControlName="verificationCode" placeholder="">
                    <span id="error" *ngIf="verificationCode.touched && verificationCode.errors?.required"> Verification Code is required
                    </span>
                </div>
    
                <!-- // New password //  -->
                <div class="md-form">
                    <label for="newPassword" class="font-weight-bold">New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword" placeholder="">
                    <span id="error" *ngIf="newPassword.touched && newPassword.errors?.required"> this field is required
                    </span>
                </div>
    
                <!-- // Confirm Password //  -->
                <div class="md-form">
                    <label for="confirmPassword" class="font-weight-bold">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword"
                        placeholder="">
                    <span id="error" *ngIf="confirmPassword.touched && confirmPassword.errors?.required"> this field is
                        required </span>
                    <span id="error" *ngIf="compare">Password does not match</span>
                </div>
    
                <input type="submit" value="Confirm" class="btn btn-success btn-lg" [disabled]="compare == true">
    
            </form>
    
    
        </div>
    </div>
</div>