/* @import "booking.scss";

input {
    margin-bottom: 20px;
  }
  
  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .well-form {
    margin: 5px 20px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }
  .well-legend {
    display: block;
    font-size: 14px;
    width: auto;
    padding: 2px 7px 2px 5px; 
    line-height: inherit;
    color: #CCC;
    border: none;
    background-color: #463edd;
    margin-bottom: 0;
  }
  
  .input-group-addon.primary {
      color: rgb(255, 255, 255);
      background-color: rgb(50, 118, 177);
      border-color: rgb(40, 94, 142);
      padding-left: 5px;
      padding-right: 5px;
  } */

  mat-form-field {
    margin-right: 12px;
  }