<!--Accordion wrapper-->
<div class="accordion md-accordion accordion-1 wow pulse" data-wow-duration="3s" id="accordionEx23" role="tablist">
  <div class="card">
    <div class="card-header blue lighten-2 z-depth-1" role="tab" id="heading96">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="white-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true"
          aria-controls="collapse96">
          ABOUT US :: Where we operate
        </a>
      </h5>
    </div>
    <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <h3 class="font-weight-bold mb-3 black-text">With our Headquarters based in Mansoura . Egypt , we provide our sports booking management system across the globe and have offices in both Australia and Ireland. Clients are utilising our online booking platform worldwide, including UAE, Canada, New Zealand and more.</h3>
            <!-- <p class="">It provides many distinguished services for stadium owners and players.</p> -->
            <!-- <p class="mb-0">It provides many distinguished services for stadium owners and players.</p> -->
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="../../../../../assets/img/team.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header blue lighten-2 z-depth-1" role="tab" id="heading97">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse97"
          aria-expanded="false" aria-controls="collapse97">
          All our features can be internationalised to your local market
        </a>
      </h5>
    </div>
    <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <h3 class="font-weight-bold mb-3 black-text">All our features can be internationalised to your local market including payment gateways, currency/tax codes and branding. Our Playground enterprise offering includes 100% white labelling meaning your customers are unaware that they are even using a third party solution.</h3>
            <!-- <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris</p>
            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur.</p> -->
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="../../../../../assets/img/group.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header blue lighten-2 z-depth-1" role="tab" id="heading98">
      <h5 class="text-uppercase mb-0 py-1">
        <a class="collapsed font-weight-bold white-text" data-toggle="collapse" href="#collapse98"
          aria-expanded="false" aria-controls="collapse98">
          Our software covers all aspects of online booking systems
        </a>
      </h5>
    </div>
    <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98"
      data-parent="#accordionEx23">
      <div class="card-body">
        <div class="row my-4">
          <div class="col-md-8">
            <h3 class="font-weight-bold mb-3 black-text">Our software covers all aspects of online booking systems so if you're looking for recreation management software for your activity camps or looking to get more bookings for your sports hall or sports centre, please get in contact for a demo.</h3>
            <!-- <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris</p>
            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur.</p> -->
          </div>
          <div class="col-md-4 mt-3 pt-2">
            <div class="view z-depth-1">
              <img src="../../../../../assets/img/blockchain-header.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Accordion wrapper-->