<div class="col-md-9 pb-3" style="background-color: cadetblue;margin: auto; ">
    <h3 class="pt-3" style="text-align: center;">playground</h3>

<form>
    <div class="form-group">


        <div class="col-md-12 mb-3">
          <label for="validationServer01">name</label>
          <input type="text" formControlName="name" class="form-control" id="validationServer01" placeholder="name"  required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="custom-file">
            <input type="file" formControlName="image" class="custom-file-input" id="validatedCustomFile" required>
            <label class="custom-file-label" for="validatedCustomFile">Choose image...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
          </div>



        <!-- address -->
        <div class="form-row">
            <div class="col-md-9 mb-3">
              <label for="validationServer03">City</label>
              <input type="text" formControlName="governorate" class="form-control" id="validationServer03" placeholder="City" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationServer04">State</label>
              <input type="text" formControlName="city" class="form-control" id="validationServer04" placeholder="State" required>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
          </div>



          <div class="col-md-12 mb-3">
            <label>Day Price</label>
            <input type="text" formControlName="dayprice" class="form-control" placeholder="Day Price"  required>
          </div>

          <div class="col-md-12 mb-3">
            <label>Night Price</label>
            <input type="text" formControlName="nigtprice" class="form-control" placeholder="Night Price"  required>
          </div>



          <div class="form-row">
            <label>IS COVERED : </label> &nbsp;&nbsp;&nbsp;
            <!-- Default unchecked disabled -->
            <div class="custom-control custom-radio">
                <input type="radio" formControlName="Covered" class="custom-control-input" id="defaultUncheckedDisabled2" name="disabledGroupExample">
                <label class="custom-control-label" for="defaultUncheckedDisabled2">Covered</label>
            </div>
            &nbsp;&nbsp;&nbsp;
            <!-- Default checked disabled -->
            <div class="custom-control custom-radio">
                <input type="radio" formControlName="Covered" class="custom-control-input" id="defaultCheckedDisabled2" name="disabledGroupExample" checked>
                <label class="custom-control-label" for="defaultCheckedDisabled2">Not Covered</label>
            </div>

          </div>



          <div class="mb-3">
            <label for="validationTextarea">details</label>
            <textarea formControlName="details" class="form-control" id="validationTextarea" placeholder="details"></textarea>
            <div class="invalid-feedback">
              Please enter a message in the textarea.
            </div>
          </div>






            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
                  <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                  </label>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>

      </div>



    <button class="btn btn-dark btn-block" type="submit">Submit form</button>
  </form>
  </div>

  <br>