
<!-- Footer -->
<footer class="page-footer font-small" style="background-color:   #111113;">

  <div style="background-color: orange">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0  wow slideInLeft" data-wow-duration="2s" data-wow-duration="2s">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right  wow slideInRight" data-wow-duration="2s" data-wow-duration="2s">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4  wow zoomIn" data-wow-duration="2s" data-wow-duration="2s">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Playground</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Not only do we provide all the tools you need to automate your bookings, but we'll even market the gaps for you! Our worldwide websites and partnership network will push out your availability far and wide to increase your revenue.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
     
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 wow zoomIn" data-wow-duration="2s" data-wow-duration="2s">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a routerLink="/">Home</a>
        </p>
        <p>
          <a routerLink="/ownerlogin">owner login</a>
        </p>
        <p>
          <a routerLink="/userlogin">user login</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 wow zoomIn" data-wow-duration="2s" data-wow-duration="2s">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> El-Galaa street, Mansoura, Egypt</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> me889195@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 010 264 920 74</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 010 247 20 606</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> ITI-Mansoura-Bransh</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



