
<div class="col-lg-12 col-md-12 mb-4">

    <!--Rotating card-->
    <div class="card-wrapper" style="height: auto;">
      <div id="card-3" class="card card-rotating text-center">

        <!--Front Side-->
        <div class="face front">

          <!-- Image-->
          <div class="card-up">
            <img src="../../../../../assets/img/bg-subheader.jpeg" class="img-fluid animated fadeInLeft" alt="Image with a photo of clouds.">
          </div>
          <!--Avatar-->
          <div class="avatar mx-auto white">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2820%29.jpg" class="rounded-circle animated bounceInDown" alt="Image of a woman."  style="width: 300px;">
          </div>
          <!--Content-->
          <div class="card-body">

            <h2>MOHAMED SALAH</h2>

            <h3>OWNER</h3>

            
            <a class="nav-link" routerLink="EditProfile">Edit</a>

            <a class="nav-link" routerLink="playground">Add playground</a>


            <!--Triggering button-->
            <!-- <a class="rotate-btn" data-card="card-3">
              <i class="fas fa-redo"></i> Click here to rotate</a> -->
          </div>
        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="card face back">

          <div class="card-body">

            <!--Content-->
            <h4>About me</h4>
            <hr>
            <h5>phone number : 01024720606</h5>
            <h5>E-mail: mahmoud23@gmail.com</h5>
            <p>address : 22 El-Galaa, Mansoura city , Egypt
            </p>
            <hr>
            <!--Social Icons-->
            <!-- <ul class="list-inline">
              <li class="list-inline-item">
                <a class="fa-lg p-2 m-2 fb-ic">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="fa-lg p-2 m-2 tw-ic">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="fa-lg p-2 m-2 gplus-ic">
                  <i class="fab fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="fa-lg p-2 m-2 li-ic">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul> -->


            <!--Triggering button-->
            <!-- <a class="rotate-btn" data-card="card-3">
              <i class="fas fa-undo"></i> Click here to rotate back</a> -->

          </div>

        </div>
        <!--/.Back Side-->

      </div>
    </div>
    <!--/.Rotating card-->

  </div>