<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


   -->


     
    <!-- preloader -->

    <!-- <div class="bg-preloader-white"></div>
    <div class="preloader-white">
      <div class="mainpreloader">
      <span></span>
      </div>
    </div> -->

    <!-- preloader end -->
    
    <!-- content wraper -->
    <div class="content-wrapper">
    
   <header class="init">
    
    <!-- subnav -->
    <div class="container-fluid m-5-hor">
    <div class="row">
        <div class="subnav">

         <div class="col-md-12">
          <div class="right">
                            <div class="social-icons-subnav">
                                <div>Call Us : +02151 7778 009</div>
                            </div>

                            <div id="sub-icon" class="social-icons-subnav">
                                <a href="#"><span class="ti-facebook"></span></a>
                                <a href="#"><span class="ti-dribbble"></span></a>
                                <a href="#"><span class="ti-twitter"></span></a>
                                <a href="#"><span class="ti-instagram"></span></a>
                                <a href="#"><span class="ti-linkedin"></span></a>
                            </div>   icons - icons - icons - icons
          </div>
         </div>
        
        </div>
    </div>
    </div>
    <!-- subnav end -->
    

      <!-- nav -->
      <div class="navbar-default-white navbar-fixed-top">


        

        <div #spacer></div>
        <div id="sti" stickyThing [spacer]="spacer" style="">
    
    


  
  

        <div class="container-fluid m-5-hor">

        <div class="row">
        
           <!-- menu mobile display -->
           <!-- <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
           <span class="icon icon-bar"></span> 
           <span class="icon icon-bar"></span> 
           <span class="icon icon-bar"></span></button> 
           -->

          <!-- logo --> 
          <a class="navbar-brand white" href="#">
          <img class="white" alt="logo" src="../../../assets/img/logo2.jpg">
          <img class="black" alt="logo" src="assets\img\logo-white.png">
          </a> 
          <!-- logo end -->
          
          <!-- mainmenu start -->
          <div class="white menu-init" id="main-menu">
            <nav id="menu-center">
              <ul>
                <li class="parent-menu">
                 <a class="actived" href="#">Home <span class="hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-down"></i></span>
                  <span class="hidden-lg span-drop"></span></a>
                 <ul>
                    <li><a href="#">Main Index</a></li>

                 </ul>
                </li>
                <li class="parent-menu"><a href="#">About <span class="hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-down"></i></span>
                  <span class="hidden-lg span-drop"></span></a>
                <ul>
                    <li><a href="#">About Us - 1</a></li>
                    <li><a href="#">About Us - 2</a></li>
                    <li><a href="#">About Us - 3</a></li>
                    <li><a href="#">About Video</a></li>
                    <li><a href="#">All Ellement</a></li></ul>
                </li>
                <li class="parent-menu"><a href="#">Works <span class="hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-down"></i></span>
                  <span class="hidden-lg span-drop"></span></a> <ul>
                    <li><a href="#">Gallery Column</a></li>
                    <li><a href="#">Gallery Carousel</a></li>
                    <li><a href="#">Projects Detail <span class="hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-right"></i></span>
                    </a> <ul>
                    <li><a href="#">Project Detail 1</a></li>
                    <li><a href="#">Project Detail 2</a></li>
                    </ul>
                    </li>
                  </ul>
                </li>
                <li class="parent-menu"><a href="#">Services <span class="hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-down"></i></span>
                  <span class="hidden-lg span-drop"></span></a>
                  <ul>
                    <li><a href="#">Shop Page</a></li>
                    <li><a href="#">Service 1</a></li>
                    <li><a href="#">Service 2</a></li>
                    <li><a href="#">Service 3</a></li>
                    <li><a href="#">Service 4</a></li>
                  </ul>
                </li>
                <li class="parent-menu"><a href="#">All stadiums <span class="hidden-md hidden-sm hidden-xs"><i class="fa fa-angle-down"></i></span>
                  <span class="hidden-lg span-drop"></span></a>
                  <ul>
                    <li><a href="#">Blog Single</a></li>
                    <li><a href="#">Blog Post</a></li>
                  </ul>
                </li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
          <!-- mainmenu end -->
          
        </div>
        </div>
        <!-- container -->
      </div>


      </div>





      <div class="content">

      </div>


      <!-- nav end -->
      </header>







      </div>










