
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark lighten-1 fixed-top scrolling-navbar navbar-dark bg-dark">

  <a class="nav-link p-2" href="#">
    <img src="../../../assets/img/logo2.jpg" class="rounded-circle z-depth-0"
      alt="logo" height="35">
  </a>
  <a class="navbar-brand pr-5" routerLink="/"> Playground</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav m-auto">
      <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
        <a class="nav-link" routerLink="/"><i class="fas fa-futbol"></i> Home</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/ownerlogin">owner login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/ownerRegister">owner Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/userlogin">user login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/userRgisiter">user Rgisiter</a>
      </li>-->
      <li class="nav-item" routerLinkActive="active" *ngIf="statusType == 'owner'">
        <a class="nav-link" routerLink="/ownerProfile"><i class="fas fa-user-shield"></i> owner Profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="statusType == 'user'">
        <a class="nav-link" routerLink="/userProfile"><i class="fas fa-user"></i> user Profile</a>
      </li> 
      
      <li class="nav-item" routerLinkActive="active" *ngIf="statusType == 'user'">
        <a class=" waves-effect waves-light nav-link" routerLink="/playground"><i class="far fa-clone left"></i> playground List</a>
      </li> 
      
      <li class="nav-item" routerLinkActive="active" *ngIf="statusType == 'user'">
        <a class=" waves-effect waves-light nav-link" routerLink="/userProfile/booked/list"><i class="far fa-clone left"></i> Booking List</a>
      </li> 

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0" routerLink="/" (click)="logout()">
          <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" height="35"> -->
            <i class="fas fa-power-off prefix yellow-text fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->