
    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area bg-fixed bg-overlay-black mt-2" style="background-image: url('../../../../../assets/img/slider/small_07_l.jpg')">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="600ms">
                            Save time with our easy to use online booking system
                        </h2>
                        <h6 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="700ms">
                            Playground technology takes care of your administration, so you can enjoy running your business.
                        </h6>

                        <br><br>
                        <!-- <a href="#" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Booking</a> -->

                        <div class="row mt-2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="900ms" *ngIf ="statusType != 'owner' && statusType != 'user'">
                            <div class="col-6">
                                <app-register-button></app-register-button>
                            </div>
                            <div class="col-6">
                                <app-register-button-user></app-register-button-user>
                            </div>
                          </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Area End ##### -->