
<!-- Slider -->
<div id="slider" class="mt-2">

  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Playground</h1>

          <div class="row mt-2">
            <div class="col-12">
                <app-register-button></app-register-button>
            </div>
            <div class="col-12">
                <app-register-button-user></app-register-button-user>
            </div>
          </div>
     
        </div>
      </div>
      <div class="image">
        <img src="../../../../../assets/img/slider/13.jpg">
      </div>
    </div>

    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Playground</h1>
          

          <div class="row mt-2">
            <div class="col-12">
                <app-register-button></app-register-button>
            </div>
            <div class="col-12">
                <app-register-button-user></app-register-button-user>
            </div>
          </div>
     

        </div>
      </div>
      <div class="image">
        <img src="../../../../../assets/img/slider/2.jpg">
      </div>
    </div>

    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Playground</h1>

          <div class="row mt-2">
            <div class="col-12">
                <app-register-button></app-register-button>
            </div>
            <div class="col-12">
                <app-register-button-user></app-register-button-user>
            </div>
          </div>

        </div>
      </div>
      <div class="image">
        <img src="../../../../../assets/img/slider/15.jpg">
      </div>
    </div>

    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Playground</h1>

          <div class="row mt-2">
            <div class="col-12">
                <app-register-button></app-register-button>
            </div>
            <div class="col-12">
                <app-register-button-user></app-register-button-user>
            </div>
          </div>
    
        </div>
      </div>
      <div class="image">
        <img src="../../../../../assets/img/slider/16.jpg">
      </div>
    </div>
    
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
