


  <div class="row">
    <div class="card card-image mb-3 col-md-4" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
        <div class="text-white text-center d-flex align-items-center img-gradient-overlay py-5 px-4">
            <div>
                <h5 class="orange-text"><i class="fas fa-desktop"></i> Software</h5>
                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                <a class="btn btn-deep-orange waves-effect waves-light"><i class="far fa-clone left"></i> View project</a>
            </div>
        </div>
    </div>

    <div class="card card-image mb-3 col-md-4" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
        <div class="text-white text-center d-flex align-items-center img-gradient-overlay py-5 px-4">
            <div>
                <h5 class="orange-text"><i class="fas fa-desktop"></i> Software</h5>
                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                <a class="btn btn-deep-orange waves-effect waves-light"><i class="far fa-clone left"></i> View project</a>
            </div>
        </div>
    </div>

    <div class="card card-image mb-3 col-md-4" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
        <div class="text-white text-center d-flex align-items-center img-gradient-overlay py-5 px-4">
            <div>
                <h5 class="orange-text"><i class="fas fa-desktop"></i> Software</h5>
                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                <a class="btn btn-deep-orange waves-effect waves-light"><i class="far fa-clone left"></i> View project</a>
            </div>
        </div>
    </div>

  </div>


<!-- ------------------------------------------------------------ -->

<br> <hr> <br>


<!-- ------------------------------------------------------------ -->


<div class="row">

    <div class="card card-cascade narrower col-md-4">

        <!--Card image-->
        <div class="view overlay zoom">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="card-img-top img-fluid " alt="photo">
            <a>
                <div class="mask img-gradient"></div>
            </a>
        </div>
        <!--/.Card image-->
      
        <!--Card content-->
        <div class="card-body card-body-cascade">
            <h5 class="blue-text"><i class="fas fa-football"></i> Culinary</h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                aliquid ex ea commodi.</p>
            <a class="btn btn-unique blue-effect blue-light">Button</a>
        </div>
        <!--/.Card content-->
      
      </div>







      <div class="card card-cascade narrower col-md-4">


        <!--Card image-->
        <div class="view overlay zoom">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="card-img-top img-fluid " alt="photo">
            <a>
                <div class="mask img-gradient"></div>
            </a>
        </div>
        <!--/.Card image-->
      
        <!--Card content-->
        <div class="card-body card-body-cascade">
            <h5 class="blue-text"><i class="fas fa-football"></i> Culinary</h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                aliquid ex ea commodi.</p>
            <a class="btn btn-unique blue-effect blue-light">Button</a>
        </div>
        <!--/.Card content-->
      
      </div>






      <div class="card card-cascade narrower col-md-4">

        <!--Card image-->
        <div class="view overlay zoom">
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="card-img-top img-fluid " alt="photo">
            <a>
                <div class="mask img-gradient"></div>
            </a>
        </div>
        <!--/.Card image-->
      
        <!--Card content-->
        <div class="card-body card-body-cascade">
            <h5 class="blue-text"><i class="fas fa-football"></i> Culinary</h5>
            <!--Title-->
            <h4 class="card-title">Cheat day inspirations</h4>
            <!--Text-->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                aliquid ex ea commodi.</p>
            <a class="btn btn-unique blue-effect blue-light">Button</a>
        </div>
        <!--/.Card content-->
      
      </div>
</div>


