<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2 class="text-center">Reset Password</h2>

            <form (ngSubmit)="checkEmail()" #form="ngForm" [formGroup]="resetForm">

                <!-- // email //  -->
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" formControlName="email"
                        placeholder="Enter your email address" email>
                    <span id="error" *ngIf="email.touched &&  email.errors?.required"> this is required</span>
                    <span id="error" *ngIf="email.errors?.email">this field must be email </span>

                </div>
                <div>
                    <input id="user" type="radio" value="user" formControlName="type">
                    <label for="user">User</label>
                </div>

                <div>
                    <input id="owner" type="radio" value="owner" formControlName="type">
                    <label for="owner">Owner</label>
                </div>

                <input type="submit" value="Confirm" class="btn btn-success btn-lg" [disabled]="isValid!==true">

            </form>
            <h4 class="alert alert-danger" >{{errorMessage }}</h4>
            <!-- Form -->
            {{resetForm.value | json }}
        </div>
    </div>

</div>