<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-6 mt-5 mb-3" style="border:5px solid #d3d1e0;
                background-color: rgb(255, 255, 255);margin: auto; ">

            <!-- <h2 class="text-center">Reset Password</h2> -->
            <legend class="well-legend mt-3">Reset Password</legend>

            <form (ngSubmit)="checkEmail()" #form="ngForm" [formGroup]="resetForm">

                <!-- // email //  -->
                <div class="md-form">
                    <label for="email">Enter your email address</label>
                    <input type="email" class="form-control" formControlName="email" email>
                    <span id="error" *ngIf="email.touched &&  email.errors?.required"> this is required</span>
                    <span id="error" *ngIf="email.errors?.email">this field must be email </span>

                </div>
                <div>
                    <input id="user" type="radio" value="user" formControlName="type">
                    <label for="user">User</label>
                </div>

                <div>
                    <input id="owner" type="radio" value="owner" formControlName="type">
                    <label for="owner">Owner</label>
                </div>

                <input type="submit" value="Confirm" class="btn btn-success " [disabled]="isValid!==true"  style="width: 200px;border-radius: 30px;">

            </form>
            <h4 class="alert alert-danger"  *ngIf="errorMessage">{{errorMessage }}</h4>
            <!-- Form -->
            
            <!-- {{resetForm.value | json }} -->
        </div>
    </div>

</div>