/* You can add global styles to this file, and also import other style files */
/* @import './../node_modules/bootstrap/dist/css/bootstrap.css'; */
#error{
    
    font: 25px bold  tahoma;
    margin-left: 3px;
    font-style: italic;
    color: #ffe75e;
    background: #776c6c;
    border-radius: 3px;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
