<!-- <div class="row">

    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card card-chart">
            <div class="card-header card-header-success">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Daily Sales</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>


</div>
 -->




 <br>






   <!------------------------------------------------------------------------------------->




 <!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="column-2 px-2 mb-r">
  
      <!--Card-->
      <div class="card default-color-dark">
  
        <!--Card image-->
        <div class="view overlay zoom">
          <img src="../../assets/img/3.jpg" class="card-img-top img-fluid" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Title of the news</h4>
          <!--Text-->
          <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas.</p>
          <a href="#" class="btn btn-outline-white btn-md">Button</a>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column-1 px-2 mb-r">
  
      <!--Card-->
      <div class="card primary-color-dark">
  
        <!--Card image-->
        <div class="view overlay zoom">
          <img src="..//../assets/img/3.jpg" class="card-img-top img-fluid" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Title of the news</h4>
          <!--Text-->
          <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas.</p>
          <a href="#" class="btn btn-outline-white btn-md">Button</a>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="column-1 px-2">
  
      <!--Card-->
      <div class="card warning-color-dark">
  
        <!--Card image-->
        <div class="view overlay zoom">
          <img src="../../assets/img/3.jpg" class="card-img-top img-fluid" alt="photo">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title white-text">Title of the news</h4>
          <!--Text-->
          <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas.</p>
          <a href="#" class="btn btn-outline-white btn-md">Button</a>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->


  <br>





  
   <!------------------------------------------------------------------------------------->





   <div class="row no-gutters position-relative bgb3b3ff">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img class="w-100" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="image">
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">Columns with stretched link</h5>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
        odio,
        vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec
        lacinia congue felis in faucibus.</p>
      <a href="https://mdbootstrap.com/education/bootstrap/quick-start/" class="stretched-link">Go somewhere</a>
    </div>
  </div>

  