<!-- *********************************************************************** -->

<!-- Reservation -->
<div id="reservation" class="section">

  <!-- Backgound Image -->
  <div class="bg-image" style="background-image:url()"></div>
  <!-- /Backgound Image -->

  <!-- container -->
  <div class="container">

    <div class="row m-3"> <!-- row -->
      <div class="col-md-8 c col-sm-10 p-4 bg-dark" style="margin: auto;">

      <div class="section-header text-center">
        <!-- <h4 class="sub-title">EDIT</h4> -->
        <h2 class="title white-text">Edit Your Booking</h2>
      </div>
      
          <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="editBookForm">
            <!-- <input type="date" formControlName="date" > -->
            
                  <!-- <div class="form-group">
                    <label for="first_name">Date</label>
                    <input type="date" class="form-control input" formControlName="date"  (change)="get_Booked_Hours_By_Date($event)" min="2020-02-21">
                 </div> -->



                 <mat-form-field class="example-full-width" style="width: 100%;">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date"  (dateChange)="get_Booked_Hours_By_Date($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>

                  <div class="form-group">
                    <!-- <label for="first_name">Time</label>. -->
                    <!-- <input type="time"  class="form-control"  formControlName="time" >  -->
                 </div>
                 <div class="form-group">
                  <label for="address">Time</label>
                  <div className="form-group">
                      <div className="input-group">
                          <span className="input-group-addon">
                              <span className="glyphicon glyphicon-lock"></span>
                          </span>
                          <select class="form-control input" formControlName="time">
                            <option value="-1" aria-readonly="true">Select Time</option>
                                          <!-- unavailableHours.includes(availableHour._id) -->
                              <option *ngFor="let availableHour of availableHours" [disabled]="checkBookedHours(availableHour._id)" [value]="availableHour._id">{{availableHour.time}}</option>
  
                          </select>
  
                      </div>
  
                  </div>
  
              </div>
                  
          <div class="col-md-12 text-center">
            <input type="submit" class="main-button" value="Confirm">
        </div>
          </form>
  
        </div>

        <!-- opening time -->
    <!-- <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
      <div class="opening-time">
        <div class="section-header text-center">
          <h2 class="title white-text">Opening Time</h2>
        </div>
        <ul>
          <li>
            <h4 class="day">Sunday</h4>
            <h4 class="hours">8:00 am – 11:00 pm</h4>
          </li>
          <li>
            <h4 class="day">Monday</h4>
            <h4 class="hours">8:00 am – 11:00 pm</h4>
          </li>
          <li>
            <h4 class="day">Tuesday</h4>
            <h4 class="hours">8:00 am – 11:00 pm</h4>
          </li>
          <li>
            <h4 class="day">Wednesday</h4>
            <h4 class="hours">8:00 am – 11:00 pm</h4>
          </li>
          <li>
            <h4 class="day">Thursday</h4>
            <h4 class="hours">8:00 am – 11:00 pm</h4>
          </li>
          <li>
            <h4 class="day">Friday</h4>
            <h4 class="hours">Closed</h4>
          </li>
          <li>
            <h4 class="day">Saturday</h4>
            <h4 class="hours">Closed</h4>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- /opening time -->
  </div><!-- /row -->













</div>
<!-- /container -->

</div>
<!-- /Reservation -->

<br>
<br>